<nav class="breadcrumb" aria-label="Breadcrumb">
  <div class="container">
    <ol class="breadcrumb__list" role="list">
      <li class="breadcrumb__item">
        <a class="breadcrumb__link" href="{{ shop.url }}">Home</a>
      </li>
      {% for collection in collections %}
        {% for collection_product in collection.products %}
          {% if collection_product.title contains product.title %}
            {% capture first_collection_url %}
              {{- collection.url -}}
            {% endcapture %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <li class="breadcrumb__item">
        <a class="breadcrumb__link" href="{{ first_collection_url }}">Women</a>
      </li>
      <li class="breadcrumb__item">
        <a class="breadcrumb__link" aria-current="page">{{ product.title }}</a>
      </li>
    </ol>
  </div>
</nav>