<button
  class="burger"
  aria-label="{{ "accessibility.burger" | t }}"
  aria-expanded="false"
  aria-controls="burger_menu">
  {% render 'icon', icon: "menu" %}
  <span class="burger__text burger__text--menu">{{ "general.burger.menu" | t }}</span>
  {% render 'icon', icon: "close" %}
  <span class="burger__text burger__text--close">{{ "general.burger.close" | t }}</span>
</button>