<dl class="footer__section">
  <dt class="footer__title">
    {{ block.settings.heading }}
  </dt>
  <dd class="footer__descr">
    {% if block.settings.text != blank %}
      <div class="footer__descr-wrap">
        {{ block.settings.text }}
      </div>
    {% endif %}
    {% render 'socials', class: 'footer__socials', block: block %}
  </dd>
</dl>