<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy a unisex basic t-shirt - Susparsa</title>
    <link rel="stylesheet" href="{{ 'index.css' | asset_url }}">

    {{ content_for_header }}
  </head>
  <body>
    {% section 'alternate-header' %}
    {% render 'alternate-breadcrumbs' %}
    <main id="main" class="main" tabindex="-1" aria-labelledby="main_title">
      {{ content_for_layout }}
    </main>
    {% section 'alternate-footer' %}
    <script src="{{ 'index.js' | asset_url }}"></script>
  </body>
</html>
