<aside aria-labelledby="advice_title" class="advice main__advice">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2 id="advice_title" class="advice__title">
        {{ section.settings.title }}
      </h2>
    {% endif %}

    {% assign selected_collection = section.settings.collection %}
    {% if selected_collection != blank and selected_collection.products.size > 0 %}
      <ul class="advice__list" role="list">
        {% for product in selected_collection.products limit: section.settings.limit %}
          <li class="advice__item">
            {% render 'alternate-product-card', product: product %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</aside>

{% schema %}
  {
    "name": "Product recommendations",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "limit",
        "min": 3,
        "max": 6,
        "step": 1,
        "label": "Range",
        "default": 4
      }
    ],
    "presets": [
      {
        "name": "Product recommendations"
      }
    ]
  }
{% endschema %}