<footer class="footer">
  <div class="container footer__container">
    {% if section.blocks.size > 0 %}
      <div class="footer__top">
        {% for block in section.blocks %}
          {% if block.type == 'about' %}
            {% render 'footer_about_block', block: block %}
          {% elsif block.type == 'menu' %}
            {% render 'footer_menu_block', block: block %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div class="footer__bottom">
      <p class="footer__text">
        <small>&copy; {{ "general.copyright_text" | t }}</small>
      </p>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "about",
        "name": "About",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "text",
            "id": "fb_link",
            "label": "Facebook link",
            "default": "#facebook_link"
          }, {
            "type": "text",
            "id": "instagram_link",
            "label": "Instagram link",
            "default": "#instagram_link"
          }
        ]
      }, {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }
        ]
      }
    ],
    "settings": []
  }
{% endschema %}