<aside aria-labelledby="advice_title" class="advice main__advice">
  <div class="container">
    {% if section.settings.product_recommendations_id != blank %}
      <h2 id="advice_title" class="advice__title">
        {{ section.settings.product_recommendations_id }}
      </h2>
    {% endif %}

    {% assign selected_collection = section.settings.product_recommendations_collection_id %}
    {% if selected_collection != blank and selected_collection.products.size > 0 %}
      <ul class="advice__list" role="list">
        {% for product in selected_collection.products limit: section.settings.product_recommendations_range_id %}
          <li class="advice__item">
            {% render 'alternate-product-card', product: product %}
          </li>
          {% comment %}
          {% if section.settings.product_recommendations_range_id >= forloop.index %}
          <li class="advice__item">
          {% render 'alternate-product-card', product: product %}
          </li>
          {% endif %}
          {% endcomment %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</aside>

{% schema %}
  {
    "name": "Product recommendations",
    "settings": [
      {
        "type": "text",
        "id": "product_recommendations_id",
        "label": "Heading",
        "default": "Heading"
      }, {
        "type": "collection",
        "id": "product_recommendations_collection_id",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "product_recommendations_range_id",
        "min": 3,
        "max": 6,
        "step": 1,
        "label": "Range",
        "default": 4
      }
    ],
    "presets": [
      {
        "name": "Product recommendations"
      }
    ]
  }
{% endschema %}