<aside aria-labelledby="advice_title" class="advice main__advice">
  <div class="container">
    <h2 id="advice_title" class="advice__title">You may also like</h2>
    <ul class="advice__list" role="list">
      <li class="advice__item">
        <article class="advice-card">
          <div class="advice-card__inner">
            <img
              class="advice-card__img"
              width="248"
              height="368"
              src="{{ 'advice_1.jpg' | asset_url }}"
              alt="Girl in hoodie &quot;just smile&quot;."
              loading="lazy"
            >
          </div>
          <div class="advice-card__content">
            <h3 class="advice-card__title">
              <a class="advice-card__title-link" href="#">Product name 1</a>
            </h3>
            <ul class="offset-x advice-card__list" role="list">
              <li class="advice-card__item" style="--color: #c88252;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Brown</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #f8cab1;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Orange</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #e9a0a7;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Red</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #ba9be5;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Purple</span>
                </a>
              </li>
            </ul>
            <p class="advice-card__text"><abbr title="Swiss Franc">CHF</abbr> 40</p>
          </div>
        </article>
      </li>
      <li class="advice__item">
        <article class="advice-card">
          <div class="advice-card__inner">
            <img
              class="advice-card__img"
              width="248"
              height="368"
              src="{{ 'advice_2.jpg' | asset_url }}"
              alt="Boy in shirt &quot;follow your dream&quot;."
              loading="lazy"
            >
          </div>
          <div class="advice-card__content">
            <h3 class="advice-card__title">
              <a class="advice-card__title-link" href="#">Product name 2</a>
            </h3>
            <ul class="offset-x advice-card__list" role="list">
              <li class="advice-card__item" style="--color: #c88252;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Brown</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #f8cab1;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Orange</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #e9a0a7;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Red</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #ba9be5;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Purple</span>
                </a>
              </li>
            </ul>
            <p class="advice-card__text"><abbr title="Swiss Franc">CHF</abbr> 40</p>
          </div>
        </article>
      </li>
      <li class="advice__item">
        <article class="advice-card">
          <div class="advice-card__inner">
            <img
              class="advice-card__img"
              width="248"
              height="368"
              src="{{ 'advice_3.jpg' | asset_url }}"
              alt="Girl in shirt &quot;stay positive&quot;."
              loading="lazy"
            >
            <ul class="labels advice-card__labels" role="list">
              <li class="labels__item">Sold out</li>
            </ul>
          </div>
          <div class="advice-card__content">
            <h3 class="advice-card__title">
              <a class="advice-card__title-link" href="#">Product name 3</a>
            </h3>
            <ul class="offset-x advice-card__list" role="list">
              <li class="advice-card__item" style="--color: #c88252;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Brown</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #f8cab1;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Orange</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #e9a0a7;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Red</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #ba9be5;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Purple</span>
                </a>
              </li>
            </ul>
            <p class="advice-card__text"><abbr title="Swiss Franc">CHF</abbr> 40</p>
          </div>
        </article>
      </li>
      <li class="advice__item">
        <article class="advice-card">
          <div class="advice-card__inner">
            <img
              class="advice-card__img"
              width="248"
              height="368"
              src="{{ 'advice_4.jpg' | asset_url }}"
              alt="Girl in black hoodie."
              loading="lazy"
            >
          </div>
          <div class="advice-card__content">
            <h3 class="advice-card__title">
              <a class="advice-card__title-link" href="#">Product name 4</a>
            </h3>
            <ul class="offset-x advice-card__list" role="list">
              <li class="advice-card__item" style="--color: #c88252;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Brown</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #f8cab1;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Orange</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #e9a0a7;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Red</span>
                </a>
              </li>
              <li class="advice-card__item" style="--color: #ba9be5;">
                <a class="advice-card__link" href="#">
                  <span class="visually-hidden">Purple</span>
                </a>
              </li>
            </ul>
            <p class="advice-card__text"><abbr title="Swiss Franc">CHF</abbr> 40</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</aside>

{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "text",
      "id": "product_recommendations_id",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "collection",
      "id": "product_recommendations_collection_id",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_recommendations_range_id",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Range",
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Product recommendations"
    }
  ]
}
{% endschema %}
