.burger-menu {
  --offset-y: 1.25rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  padding: 1.25rem;
  color: var(--pallette-white);
  background-color: var(--pallette-deep-koamaru);
  transform: translateY(-1rem);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition), transform var(--transition);

  @include media('1200', max) {
    @include flex-center-column;
  }

  @include media('500', max) {
    padding: 1.5rem 0.5rem;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  &__list {
    justify-content: center;
  }
}
