:root {
  /* pallette */
  --pallette-mirage: rgb(26, 31, 41);
  --pallette-shuttle-gray: rgb(94, 98, 107);
  --pallette-deep-koamaru: rgb(23, 28, 143);
  --pallette-white: rgb(255, 255, 255);
  --pallette-silver: rgb(204, 204, 204);
  --pallette-manatee: rgb(146, 148, 153);
  --pallette-concrete: rgb(242, 242, 242);
  --pallette-bombay: rgb(174, 174, 176);
  --pallette-dull-lavender: rgb(186, 155, 229);
  --pallette-sea-pink: rgb(233, 160, 167);
  --pallette-apricot-peach: rgb(248, 202, 177);
  --pallette-antique-brass: rgb(200, 130, 82);
  --pallette-rolling-stone: rgb(114, 116, 120);
  --pallette-amaranth: rgb(237, 46, 92);
  --pallette-malachite: rgb(46, 237, 66);

  /* transitions */
  --transition: 0.3s;

  /* letter-spacing */
  --lts1: 0.01em;
  --lts2: 0.16em;
  --lts3: 0.0625rem;
}
