*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

input,
button {
  font: inherit;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

abbr {
  text-decoration: none;
}

small {
  font-size: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  font-family: Avenir, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--pallette-mirage);
}

.container {
  max-width: 83rem;
  padding: 0 0.625rem;
  margin: 0 auto;
}

.offset-x > *:not(:last-child) {
  margin-right: var(--offset-x, 1rem);
}

.offset-y > *:not(:last-child) {
  margin-bottom: var(--offset-y, 1rem);
}

::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--pallette-deep-koamaru);
  border-radius: 0.5rem;
}

:focus-visible {
  outline: 0.0625rem dashed var(--pallette-amaranth);
  outline-offset: 0.2rem;
}

.btn {
  padding: 1rem;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: var(--lts2);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition);

  &:hover {
    color: var(--pallette-white);
    background-color: var(--pallette-shuttle-gray);
  }

  &--primary {
    border: 0.0625rem solid var(--pallette-silver);
  }

  &--secondary {
    color: var(--pallette-white);
    background-color: var(--pallette-deep-koamaru);
    border: 0.0625rem solid transparent;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}

.link {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 100%;
    height: 0.05rem;
    background-color: var(--pallette-mirage);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform var(--transition);
  }

  &:hover {
    &::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

.main {
  &__accordion {
    padding-left: 2.4rem;

    @include media('1200', max) {
      padding-left: 0;
    }
  }
}

.form {
  &__fieldset-wrap {
    --offset-y: 1.5rem;
    margin-bottom: 2.5rem;
  }

  &__caption {
    margin-bottom: 0.75rem;
    letter-spacing: var(--lts1);
    line-height: 1.2;
  }

  &__inner {
    --offset-x: 0.75rem;
    @include flex-wrap;
    margin-bottom: -0.5rem;

    > * {
      margin-bottom: 0.5rem;
    }
  }

  &__btn-wrap {
    --offset-y: 0.75rem;
    position: relative;
    @include flex-column;
    max-width: 25.5rem;
  }
}
